thirdparty/*.tar*
CMakeFiles/
CMakeCache.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake
build/
*-build/
Testing/
build-support/boost_*

# Build directories created by Clion
cmake-build-*/

#########################################
# Editor temporary/working/backup files #
.#*
*\#*\#
[#]*#
*~
*$
*.bak
*flymake*
*.kdev4
*.log
*.swp

.idea
.vs
.vscode
vcpkg_installed
*-prefix
_deps
lib

build.*
.ninja_*
*lib*.a
*arrow_odbc_spi_impl_cli
*arrow_odbc_spi_impl_test
.cmake/
.cache/